*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  margin-top: 20px;
  transition-property: width height font-size;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

body{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.profile-header{
  width: 600px;
  padding: 50px;
  font-size: 30px;
}

.profile-picture img{
  width: 250px;
  height: 250px;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
}

.profile-picture img:hover{
  width: 400px;
  height: 400px;
}

.profile-info{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 50px;
}

.profile-info p{
  display: flex;
  justify-content: flex-start;
}

.profile-hobbies{
  margin-top: 100px;
}

.profile-hobbies > p:hover{
  font-size: 35px;
}

h2{
  margin-top: 20px;
}

p{
  margin-top: 20px;
  font-size: 30px;
  padding-left: 0px;
}

.container1{
  display: flex;
  flex-direction: row;
}

.profile-bio{
  margin-top: 80px;
  padding: 20px;
  border-radius: 40px;
}

.profile-bio > p:hover{
  font-size: 35px;
}

.profile-social{
  margin: 100px 0 100px 0;
}

.icon{
  padding: 10px;
  font-size: 40px;
  margin-top: 70px;
  color: black;
}

.icon:hover{
  font-size: 60px;
}

@media screen and (max-width: 600px){
  .container1{
    flex-direction: column;
  }
  body{
    width: 15%;
  }
}

